.dzsuploader{ display:block; margin:1em 0;
}
.upload-list-title{ font-family:Verdana, Geneva, sans-serif; font-size:1em; font-weight:normal; background-color:#fafafa; width:150px; text-align:center; margin-left:35px; 
border-radius:4px 4px 0 0;
color:#fafafa;
border-top:3px solid rgba(0,0,0, 0.02); 
padding:5px 3px;
background: #7abcff;
background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );
background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
 }

.droparea {
	width:400px;
	height: 50px;
	text-align: center;
	border: 1px dashed #ddd;
	padding: 10px;
	margin: 2em 0;
}

.droparea .instructions {
	display: block;
	height: 30px;
	margin-top:14px;
	color:#CCC;
}

.droparea .drop-over {
	display: none;
	font-size: 25px;
	height: 30px;
}
		
.droparea.over {
	background: #F0F8FE;
}


.droparea.over .drop-over {
	display: block;
}

.droparea.over .drop-over {
	display: block;
	font-size: 25px;
}


.upload-list {
	margin-bottom: 3em;
	border-radius:5px;
	padding:0px;
	width:400px;
	border:5px solid #4197ee;
}

.upload-list li {
	list-style: none;
	padding:6px 15px;
	color:#333;
	margin:0;
background: #feffff;
background: -moz-linear-gradient(top, #feffff 0%, #dee9ed 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#dee9ed));
background: -webkit-linear-gradient(top, #feffff 0%,#dee9ed 100%);
background: -o-linear-gradient(top, #feffff 0%,#dee9ed 100%);
background: -ms-linear-gradient(top, #feffff 0%,#dee9ed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#dee9ed',GradientType=0 );
background: linear-gradient(top, #feffff 0%,#dee9ed 100%);
border-bottom:1px solid rgba(0,0,0,0.2);
}

.upload-list li.no-items {
	border-bottom: none;
}

.upload-list div {
	margin-bottom: 0.5em;
}

.upload-list li img {
	max-width: 400px;
}

.upload-list .progress-bar-container {
	width: 400px;
	height: 10px;
	border: 1px solid #555;
	margin-bottom: 20px;
}

.upload-list .progress-bar-container.uploaded {
	height: auto;
	border: none;
}

.upload-list .progress-bar {
	width: 0;
	height: 10px;
	font-weight: bold;
	background: #6787e3;
}

.upload-list .progress-bar-container.uploaded .progress-bar{
	display: inline-block;
	width: auto;
	color: #6db508;
	background: transparent;
}


.dzs-upload .btn_submit{
	visibility: hidden;
}
.dzs-upload .file_field{
	visibility: hidden;
}
.dzs-upload{
	width: 80px;
	height: 30px;
	display:inline;    position: relative;
    top: -5px;
	
}
.dzs-upload input[type="file"]{ 
    width: 90px;
}

.dzs-upload input[type="file"]{ 
    width: 90px;
}
.dzs-multi-upload input[type="file"]{ 
    width: 90px;
}

.multi-uploader-wrap{
	position:relative;
}
.multi-uploader-wrap .btn_upl{
	position:absolute;
	top:0;
	left:0;
}


.primary-button {
  border: 1px solid #777777;
  cursor: pointer;
  display: inline-block;
  margin: 10px 0;
  padding: 3px 14px;
  text-decoration: none;
  border-radius:5px;
color:#fafafa; 
border:1px solid #05abe0;
background: #87e0fd;
background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0));
background: -webkit-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
background: -o-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
background: -ms-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 );
background: linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
}
.primary-button:hover{
box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.2);
}




.btn_upl {
  border: 1px solid #777777;
  cursor: pointer;
  display: inline-block;
  margin: 10px 0;
  padding: 3px 14px;
  text-decoration: none;
  border-radius:5px;
color:#fafafa; 
border:1px solid #aaa;
  background: #c1c1c1;
background: -moz-linear-gradient(top, #c1c1c1 0%, #e5e5e5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c1c1c1), color-stop(100%,#e5e5e5));
background: -webkit-linear-gradient(top, #c1c1c1 0%,#e5e5e5 100%);
background: -o-linear-gradient(top, #c1c1c1 0%,#e5e5e5 100%);
background: -ms-linear-gradient(top, #c1c1c1 0%,#e5e5e5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1c1c1', endColorstr='#e5e5e5',GradientType=0 );
background: linear-gradient(top, #c1c1c1 0%,#e5e5e5 100%);
}
.btn_upl:hover{
box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.2);
}










































