/**** BUTTONS ****/
.shopme{
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;	
	background: url(/wooo/img/button.png) #dedede top left repeat-x;
	border: 1px solid #b2b0b0;
	display: block;
	height: 36px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.shopme p{
	color: #b2b0b0;
	text-shadow: 1px 1px 0px #fff;
	text-align: center;
	font-size: 13px;
	padding: 0;
	margin: 8px 0 0 0;
}

.shopme p:hover{
	color: #94bd43;
}

.bt1 {
	width: 160px;
}

.bt2{
	width: 240px;
}

.bt3{
	width: 320px;
}

.bt4{
	width: 420px;
}

.shopme p.bt2 {
	display: block;
	width: 130px;
	float: right;
}

.shopme p.bt3 {
	display: block;
	width: 130px;
	float: right;
}

.shopme p.bt4 {
	display: block;
	width: 130px;
	float: right;
}

.shopme:hover {
	cursor: pointer;
}

.shopme *:focus{
	outline: none;
}

.shopme .woooprice{
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #b2b0b0;
	width: 90px;
	float: left;
	font-size: 28px;
	font-weight: normal;
	margin: 0 0 0 12px;	
}

/* CART PANEL *******/

.panelbutton{
	border-left: 4px solid #faffef;
	border-right: 4px solid #faffef;
	border-bottom: 4px solid #faffef;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
	color: #94bd43;
	cursor: pointer;
}

#showpanel{
	background: url(/wooo/img/button.png) #fff bottom left repeat-x;
	-webkit-border-bottom-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomleft: 20px; 
	-moz-border-radius-bottomright: 20px; 
	height: 50px;
	width: 260px;
	position: absolute;
	top:0;
	right: 42px;
	z-index: 999;
	cursor: pointer;
}

#btntarget{
	position: absolute;
	height: 50px;
	width: 260px;
	top:0;
	right: 42px;
}

#showpanel a{
	display: block;
	background: url(/wooo/img/cart.png) 5px center no-repeat;
	text-align: center;
	padding: 15px 0 0 0;
	margin: 0 0 0 20px;
	height: 35px;
}


#hidepanel{
	background: url(/wooo/img/button.png) #fff bottom left repeat-x;
	height: 50px;
	width: 260px;
	z-index: 999;
	position: absolute;
	bottom: -45px;
	right: -4px;
	-moz-border-radius: 20px;
	-webkit-border-bottom-left-radius: 12px;
	-webkit-border-bottom-right-radius: 12px;
	-moz-border-radius-bottomleft: 20px; 
	-moz-border-radius-bottomright: 20px; 
	-moz-border-radius-topleft: 1px; 
	-moz-border-radius-topright: 1px; 
	text-align: center;
	padding: 0;
}

#hidepanel a{
	display: block;
	background: url(/wooo/img/cart.png) 5px center no-repeat;
	text-align: center;
	padding: 15px 0 0 0;
	margin: 0 0 0 20px;
	height: 35px;
}

#panel{
	border-left: 4px solid #faffef;
	border-right: 4px solid #faffef;
	position: absolute;
	top:0;
	right: 42px;
	background-color: #fff;
	width: 240px;
	z-index: 999;
	padding: 10px;
	text-shadow: none;
	font-size: 11px;
}


#panel table {
	padding: 0;
	margin: 0;
}

#panel table tr td {
	padding: 4px 2px 4px 2px;
}

#panel table td.prc {
	text-align: right;
}


.panelwrapper{
	color: #b8226d;
	width: 880px;
	margin: auto;
	padding: 40px;
}


.shadow {
	display: none; 
	background-color: #ddd; 
	border: solid 1px gray; 
	position: static; 
	top: 0px; 
	z-index: 100000;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.removeitem {
	background: url(/wooo/img/delete.png) center center no-repeat;
	display: block;
	width: 12px;
	height: 12px;
	cursor: pointer;
}

.checkout{
	background: url(/wooo/img/button.png) #dedede top left repeat-x;
	border: 1px solid #b2b0b0;
	display: block;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	color: #b1afaf;
	text-shadow: 1px 1px 0px #fff;
	width: 240px;
	bottom: 10px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	position: absolute;
	padding: 10px 0 10px 0;	
}

.checkout:hover{
	color: #94bd43;
}


ol pre {
	font-size: 11px;
}

ol li {
	line-height: 160%
}
/*
Stylish Select 0.4.1 - $ plugin to replace a select drop down box with a stylable unordered list
http://scottdarby.com/

Copyright (c) 2009 Scott Darby

Requires: jQuery 1.3 or newer

Dual licensed under the MIT and GPL licenses.

*/


/*==================================
Hide lists on page load
====================================*/

.stylish-select ul.newList {left:-9999px;}

.woooptions:focus{
	outline: none;
}

/*==================================
red curvy example
====================================*/
ul.newList * {margin:0; padding:0; border:0; }
ul.newList a {color: #828282; text-decoration:none; display:block;}
ul.newList {
	margin:2px 0 0 0; 
	padding:0; 
	font-size: 12px;
	list-style:none; 
	color: #828282; 
	width:170px; 
	position:absolute; 
	top:22px; 
	left:12px; 
	overflow:auto; 
	text-shadow: none;
	z-index:9999;
}

ul.newList li:first-child a{
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	-moz-border-radius-bottomleft: 1px;
	-moz-border-radius-bottomright: 1px;
	-webkit-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	-webkit-border-bottom-left-radius: 1px;
	-webkit-border-bottom-right-radius: 1px;
}

ul.newList li:last-child a{
	-moz-border-radius-topleft: 1px;
	-moz-border-radius-topright: 1px;
	-moz-border-radius-bottomleft: 12px;
	-moz-border-radius-bottomright: 12px;
	-webkit-border-top-left-radius: 1px;
	-webkit-border-top-right-radius: 1px;
	-webkit-border-bottom-left-radius: 12px;
	-webkit-border-bottom-right-radius: 12px;
}

.newListSelected {
	background:url(/wooo/img/select.png) 0 0  no-repeat; 
	font-family: Helvetica, Verdana, Arial, sans-serif; 
	font-size: 12px;
	width:160px; 
	color: #b2b0b0;
	height:18px; 
	float:left; 
	margin: 7px 0 0 12px;
	padding: 4px 0 0 16px;
	cursor: pointer; 
}

.newListSelected span {width:284px; display:block;}
ul.newList li a {padding:3px 0 3px 12px; display: block; margin:0 2px 0 3px; background-color: #ebebeb; cursor: pointer;}
ul.newList li a:focus {-moz-outline-style: none; outline:none;}
.selectedTxt {width:140px; overflow:hidden; height:18px; padding:0 23px 4px 0; cursor: pointer;}

.hiLite {background:#b9d87b!important; color:#fff!important;}
.hiLite a {background:#b9d87b!important; color:#fff!important;}
.newListHover {background:#d7d7d7!important; color:#828282!important; cursor:default;}
.newListSelHover, .newListSelFocus {background-position:left bottom; cursor:default;}
.newListOptionTitle {font-weight:bold;}
.newListOptionTitle ul {margin:3px 0 0;}
.newListOptionTitle li {font-weight:normal; border-left:1px solid #ccc;}


