html {
  height: 100%;
  padding-bottom: 1px;
  font-size: 16px;
}
body {
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  color: #222222;
}
a {
  color: #0f67a1;
  text-decoration: none;
}
a:hover { color: #1175ae; }
.clear { clear: both; }
#wrapper {
  margin: auto;
  text-align: left;
  width: 960px;
}
#header {
  background: #eeeeee;
  padding: 50px 50px 20px 50px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-bottom: 20px;
}
#header .left {
  float: left;
  width: 240px;
}
#header .left #controls {
  text-align: center;
  margin-top: 20px;
  word-spacing: 30px;
}
#header .left #controls a { font-size: 2.8em; }
#header .right {
  float: left;
  width: 520px;
  padding-left: 100px;
}
#header .right h1 {
  font-size: 3.2em;
  font-weight: normal;
  margin-bottom: 10px;
}
#header .right h1 span { color: #55a0d1; }
#header .right p {
  font-size: 1.4em;
  text-transform: uppercase;
  color: #aaaaaa;
  letter-spacing: 5px;
}
#nav {
  float: left;
  background: #eeeeee;
  width: 300px;
  font-size: 1.4em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  display: inline;
}
#nav h3 {
  margin: 20px 0 0 20px;
  font-size: 1.2em;
  font-weight: normal;
}
#nav ol {
  list-style: upper-roman;
  margin: 10px 0 20px 40px;
  line-height: 28px;
  color: #cccccc;
}
#nav ol a span { color: #333333; }
#nav ol a:hover span { color: black; }
#nav ol li.active a span { font-weight: bold; }
#content {
  float: left;
  width: 610px;
  margin-left: 50px;
  display: inline;
}
#content h1 {
  font-size: 2em;
  font-weight: normal;
  margin: 20px 0 20px 0;
}
#content p {
  font-size: 1.4em;
  line-height: 18px;
  margin-bottom: 20px;
}
#content pre {
  overflow: auto;
  background: #181c21;
  color: white;
  font-size: 1.2em;
  line-height: 18px;
  padding: 10px;
  margin-bottom: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#content pre code { display: block; }
#content #photos {
  margin: 40px 0 40px 0;
  padding-left: 40px;
}
#content #controls {
  font-size: 1.6em;
  text-align: center;
}
#footer {
  margin: 100px 0 50px 0;
  text-align: center;
}
