/* siteFeature Demo CSS */

body{background:#ffffff; color:#000000; font-family:Arial, Helvetica, sans-serif;}

#DemoContainer{margin:50px auto 50px auto; width:645px; height:295px;}
#DemoContainer h3.title{font-size:16px; margin:0px 0px 10px 0px;}

#DemoOptions{list-style:none;}
	#DemoOptions li{margin:0px 0px 20px 0px;}
	#DemoOptions li pre{padding:10px; margin:10px 0px 10px 0px; background:#f9f9f9 none repeat scroll 0 0; border-color:#dddddd #dddddd #dddddd #cccccc; border-style:solid; border-width:1px 1px 1px 3px; font-size:11px; width:95%;}
	#DemoOptions li pre code{padding:0px; margin:0px;}
