/***********************************************************************************************
		
	Print stylesheet

***********************************************************************************************/
	
body { font: normal normal 12px/1.5em "Times New Roman", Times, serif; }
a[href]:after { content: " (" attr(href) ") "; font-size: 90%; }
a[href^="/"]:after { content: " (http://domain.com" attr(href) ") "; }
ol#accessibility-nav, .hide { display: none !important; }