/*-------------------------
	Simple reset
--------------------------*/

*{
	margin:0;
	padding:0;
}


/*-------------------------
	For the demo
--------------------------*/


html{
	/* CSS3 Multiple backgrounds with a fallback */	
	background-color:#e4e4e4;
	background:url('../img/bg_gradient.jpg') no-repeat center center,url('../img/bg_tile.jpg');
}

body{
	color: #777777;
	padding:10px;
	min-height:600px;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

pre {
	margin: 10px;
	margin-left: 20px;
	color: #000000;
}

hr {
	margin-top: 40px;
	margin-bottom: 40px;
}

p {
	font-weight: bold;
}

#container {
	width: 960px;
	margin: 0 auto;
	margin-top: 40px;	
}

#title {
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
}

#metrics {
	margin-top: 20px;
	width: 960px;
	
}

table td {
	vertical-align: top;
}

.met {
	color: #000000;
	font-weight: bold;
	width: 200px;
	padding-bottom: 20px;
}
