body {
margin:0;
height:100%;
}
#liimeBar_bar{
width:10px;
-moz-border-radius: 5px;
border-radius: 5px;
position:absolute;
top:10px;
z-index:98;
right:5px;
}
#liimeBar_button {
z-index:99;
top:10px;
right:5px;
width:10px;
-moz-border-radius: 5px;
border-radius: 5px;
min-height:10px;
position: absolute;
}
#liimeBar_wrapper {
position: absolute;
width:100%;
overflow: hidden;
}
html {
overflow: hidden;
}