.stn-menu.purple,
.stn-menu.purple ul a:hover,
.stn-menu.purple ul .current a, .stn-menu.purple ul li:hover > a
{
	background: #650C61 !important;
	background: -moz-linear-gradient(top,  #ffffff 0%, #A6139E 3%, #650C61 100%) !important;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #ED5CE6), color-stop(0.03, #A6139E), color-stop(1, #650C61)) !important;	
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#A6139E', endColorstr='#650C61') !important;	
	
	color: #FFF !important;	
	
	border: solid 1px #480945 !important;
	
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
}


.stn-menu.green,
.stn-menu.green ul a:hover,
.stn-menu.green ul .current a, .stn-menu.green ul li:hover > a
{
	background: #6A9D2A !important;
	background: -moz-linear-gradient(top,  #ffffff 0%, #8FCD43 3%, #6A9D2A 100%) !important;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #BCE18E), color-stop(0.03, #8FCD43), color-stop(1, #6A9D2A)) !important;	
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#8FCD43', endColorstr='#6A9D2A') !important;	
	
	color: #FFF !important;	
	
	border: solid 1px #598423 !important;
	
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
}

.stn-menu.red,
.stn-menu.red ul a:hover,
.stn-menu.red ul .current a, .stn-menu.red ul li:hover > a
{
	background: #CC0000 !important;
	background: -moz-linear-gradient(top,  #ffffff 0%, #EE0000 3%, #CC0000 100%) !important;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #EE0000), color-stop(0.03, #EE0000), color-stop(1, #CC0000)) !important;	
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#EE0000', endColorstr='#CC0000') !important;	
	
	color: #FFF !important;	
	
	border: solid 1px #9D0000 !important;
	
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
	
	
}

.stn-menu.blue,
.stn-menu.blue ul a:hover,
.stn-menu.blue ul .current a, .stn-menu.blue ul li:hover > a
{
	background: #0B66BA !important;
	background: -moz-linear-gradient(top,  #77BAF7 0%, #2692F2 3%, #0B66BA 100%) !important;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #77BAF7 ), color-stop(0.03, #2692F2), color-stop(1, #0B66BA)) !important;	
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2692F2', endColorstr='#0B66BA') !important;	
	
	color: #FFF !important;	
	
	border: solid 1px #0C65B6 !important;
	
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
}


.stn-menu.orange,
.stn-menu.orange ul a:hover,
.stn-menu.orange ul .current a, .stn-menu.orange ul li:hover > a
{
	background: #EC8D00;
	background: -moz-linear-gradient(top,  #ffffff 0%, #FCB143 3%, #EC8D00 100%);
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #FDD08C), color-stop(0.03, #FCB143), color-stop(1, #EC8D00));	
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCB143', endColorstr='#EC8D00');	
	
	color: #FFF !important;	
	
	border: solid 1px #C67701;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}